<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yuplus.publiccloud">

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name="com.yuplus.publiccloud.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.CustomerDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.DeviceDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.AlertDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.CustomerAreaActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.SlideAreaActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.DeviceHistoryAcitivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.FeedbackActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.WebActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.QRCodeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.TicketDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.GalleryImagesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDefaultAnimationStyle"/>

        <activity
            android:name=".ui.activity.TestApiActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.TestRequestActivity"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".receiver.ActionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.yuplus.publiccloud.LOGIN_AGAIN_ACTION"/>
                <action android:name="com.yuplus.publiccloud.debug.LOGIN_AGAIN_ACTION"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>